table {
    border-bottom: solid 3vh, darkblue;
    width: 100vw;
}

th {
    background-color: darkblue;
    color: white;
}

th, td {
    padding: 2vh;
}
app-car-table {
  margin: 0 !important;
  padding: 0 !important;
  display: block; /* ou flex, se preferir */
}

app-copy {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
