<div class="cards-row">
        <div class="card-item">
            <div class="card">
                <img src="/storm.jpg" class="card-img-top" alt="Ford Ranger Storm">
                <div class="card-body">
                    <h5 class="card-title">Ford Ranger Storm</h5>
                    <p class="card-text">A Ford Ranger Storm é uma picape robusta, com tração 4x4, motor diesel e visual off-road.</p>
                    <a [routerLink]="['/lancamento']" class="btn btn-primary">Lançamento</a>
                </div>
            </div>
        </div>

        <div class="card-item">
            <div class="card">
                <img src="XL Cabine.jpg" class="card-img-top" alt="Ford Ranger XL Cabine">
                <div class="card-body">
                    <h5 class="card-title">Ford Ranger XL Cabine</h5>
                    <p class="card-text">A Ford Ranger XL Cabine Simples é a versão ideal para o trabalho pesado.</p>
                    <a [routerLink]="['/lancamento']" class="btn btn-primary">Lançamento</a>
                </div>
            </div>
        </div>

        <div class="card-item">
            <div class="card">
                <img src="xls 2.2 diesel.jpg" class="card-img-top" alt="Ford Ranger XLS 2.2 Diesel">
                <div class="card-body">
                    <h5 class="card-title">Ford Ranger XLS 2.2 Diesel</h5>
                    <p class="card-text">A Ford Ranger XLS 2.2 Diesel é uma picape robusta e versátil.</p>
                    <a [routerLink]="['/lancamento']" class="btn btn-primary">Lançamento</a>
                </div>
            </div>
        </div>
    </div>
