<footer class="rodape">
  <div class="rodape__esquerda">
    <p class="rodape__redes__sociais me-3">Redes sociais</p>

    <a class="rodape__imagem me-2" href="https://www.facebook.com/FordBrasil/?locale=pt_BR">
      <i class="fa-brands fa-facebook"></i>
    </a>
    <a class="rodape__imagem me-2" href="https://www.youtube.com/fordbrasil">
      <i class="fa-brands fa-youtube" style="color: white"></i>
    </a>
    <a class="rodape__imagem me-2" href="https://www.instagram.com/fordbrasil/">
      <i class="fa-brands fa-instagram" style="color: white"></i>
    </a>
  </div>

  <p class="copy m-0">&copy; 2025 Ford Brasil. Todos os direitos reservados.</p>

  <a href="https://www.ford.com.br/">
    <img src="ford-96.png" alt="Logo" class="rodape__imagem__logo">
  </a>
</footer>
